LAB_POSTGRES_PASSWORD=change-me
LAB_MIGRATOR_PASSWORD=change-me
LAB_APP_PASSWORD=change-me
LAB_BACKOFFICE_PASSWORD=change-me
LAB_ANALYST_PASSWORD=change-me
LAB_REPLICATOR_PASSWORD=change-me
LAB_MONITOR_PASSWORD=change-me
LAB_REWIND_PASSWORD=change-me
LAB_GRAFANA_PASSWORD=change-me
LAB_MSSQL_SA_PASSWORD=change-me
LAB_SCALE=100000
LAB_PG_MEM_LIMIT=1g
LAB_PG2_MEM_LIMIT=768m
LAB_RUNNER_MEM_LIMIT=512m
LAB_SHARED_BUFFERS=256MB
LAB_EFFECTIVE_CACHE_SIZE=768MB
LAB_MAINTENANCE_WORK_MEM=128MB
LAB_WORK_MEM=8MB
LAB_PG1_PORT=55432
LAB_PG2_PORT=55433
LAB_GRAFANA_PORT=55430
LAB_PROMETHEUS_PORT=55490
LAB_MSSQL_PORT=55414
LAB_MSSQL_MEM_LIMIT=3g
